.DS_Store
*.*~
*.swp
.gitignore.swp
bin/
dependencies/
__/
clean_cmake.sh
cmake_install.cmake
build/cmake/dependencies.cmake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
protocol.pb.cc
protocol.pb.h
qrc_observerResource.cxx
qrc_observerResource.cpp
TerraME.build/
TerraME.xcodeproj
ui_imageGUI.h
ui_legendGUI.h
ui_modelConsoleGUI.h
ui_playerGUI.h
ui_plogPropertiesGUI.h
ui_receiverGUI.h
ui_senderGUI.h
ui_spatialObserverGUI.h
ui_plotPropertiesGUI.h
.project
base/doc/
test/.terrametmp_*
